@charset "utf-8";

// Define defaults for each variable.

$base-font-family:"IBM Plex Sans", sans-serif;
$base-font-size: 17px !default;
$base-font-weight: 400 !default;
$small-font-size: $base-font-size * 0.85 !default;
$base-line-height: 1.7 !default;
$small-line-height: 1.5 !default;

$spacing-unit: 30px !default;

$text-color: #111 !default;
$background-color: #c6e6d6 !default;
$brand-color: #f13e2c !default;

$grey-color: #a77fcf !default;
$grey-color-light: lighten($grey-color, 25%) !default;
$grey-color-dark: darken($grey-color, 25%) !default;
$orange-color: #f13e2c !default;
$table-text-align: left !default;

// Width of the content area
$content-width: (max-width: $device)*0.75 !default;

$on-palm: 600px !default;
$on-laptop: 900px !default;

$on-medium: $on-palm !default;
$on-large: 1100px !default;

@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@mixin relative-font-size($ratio) {
  font-size: $base-font-size * $ratio;
}

// Import partials.
@import "moving/base", "moving/layout";
